alembic==1.14.1
appdirs==1.4.4
atomicwrites==1.4.0
boto3==1.36.11
botocore==1.36.11
cachetools==5.5.1
clyent==1.2.2
conda-repo-cli==1.0.75
conda-verify==3.4.2
fastapi==0.115.7
fonttools==4.25.0
